<template name="telescope_post_item">
  {{#with post}}
  <!--add for sticky post color for and note icon-->
  <div class="panel" style="padding: 5px;margin-bottom: 5px; {{#if sticky}} background: #fffce0;{{/if}}" >
    <!--panel body starts -->
    <div class="row">
      <div class="col-md-10">
        <div class="blockquote-box blockquote-primary clearfix" style=" ">
          <div class="upvote-lnk sh-square pull-left">

            {{#if voted}}
            <span class="glyphicon glyphicon-ok glyphicon-sm"></span>
            {{else}}
            <a class=" glyphicon glyphicon-chevron-up glyphicon-sm" href="#"><span></span></a>
            {{/if}}
          </div>

          <h4>

            <a href="{{postLink}}" target="{{postTarget}}">
              {{headline}}
              {{#if sticky}}
              <span class="glyphicon glyphicon-pushpin glyphicon-sm" style="font-size: 0.9em"></span>
              {{/if}}
            </a>
            <small>
              {{#if url}}<span>{{domain}}</span>{{/if}}
              {{#if enableCategories}}
              {{#each categories}}
              <a href="{{categoryLink}}" class="btn btn-default btn-xs category-{{slug}}" style="font-size: 10px;padding-top: 0px">
                <span class="glyphicon glyphicon-tag" style="font-size: .8em"></span>
                {{name}}</a>
              {{/each}}
              {{/if}}

            </small>

          </h4>
          <p class="small">
                    <span class="points">{{votes}} <span
                      class="unit">{{pointsUnitDisplayText}} </span></span>by
            <a class="post-author" href="{{#if enableUserLinks}}{{profileUrl}} {{else}} #{{/if}}">{{authorName}}</a>
            <span class="post-time">{{ago}}</span><span class="comments">, <a class="go-to-comments"
                                                                              href="{{commentsURL}}">{{comments}}
            {{commentsDisplayText}}</a></span>
            {{#if can_edit}}
            | <a href="{{editURL}}" class="edit-link goto-edit">Edit</a>
            {{/if}}
          </p>


        </div>

      </div>
      <div class="col-md-2">
        <p class="post-share btn-group tp-padding pull-right blockquote-box blockquote-primary">
          <a href="{{commentsURL}}" class="square pull-right">
            <span class="glyphicon glyphicon-arrow-right glyphicon-lg"></span>
            <span class="discussText">Dicuss</span>
          </a>
        </p>
      </div>
    </div>
  </div>
  {{#if body}}
  <div class="post-message markdown">{{{body_formatted}}}</div>
  {{/if}}

  {{/with}}


</template>
