<template name="telescope_users">
  <div class="container">
    <div class="row">
      <div class="col-md-1"></div>
      <div class="col-md-10">
        <!--main content area-->

        <div class="panel panel-default">
          <!-- Default panel contents -->
          <div class="panel-heading">
            <h3>Users</h3>
            </div>
          <div class="panel-body">
            <div class="cont-well">
              <div class="btn-toolbar">
                <div class="btn-group">
                  <a class="btn btn-default disabled"  href="#">
                    <span class="glyphicon glyphicon-filter"></span>
                  </a>
                  <a class="btn btn-default {{activeClass 'all'}}" href="{{filterBy 'all'}}">All</a>
                  <a class="btn btn-default {{activeClass 'invited'}}" href="{{filterBy 'invited'}}">
                    Invited</a>
                  <a class="btn btn-default {{activeClass 'uninvited'}}" href="{{filterBy 'uninvited'}}">
                    Uninvited</a>
                  <a class="btn btn-default {{activeClass 'admin'}}" href="{{filterBy 'admin'}}">Admin</a>
                </div>

                <div class="btn-group pull-right">
                  <a class="btn btn-default disabled" href="#">
                    <span class="glyphicon glyphicon-sort"></span>
                  </a>
                  <a class="btn btn-default {{activeClass 'createdAt'}}" href="{{sortBy 'createdAt'}}">
                    Created</a>
                  <a class="btn btn-default {{activeClass 'karma'}}" href="{{sortBy 'karma'}}">Karma</a>
                  <a class="btn btn-default {{activeClass 'username'}}" href="{{sortBy 'username'}}">
                    Username</a>
                  <a class="btn btn-default {{activeClass 'postCount'}}" href="{{sortBy 'postCount'}}">
                    Posts</a>
                  <a class="btn btn-default {{activeClass 'commentCount'}}" href="{{sortBy 'commentCount'}}">
                    Comments</a>
                  <a class="btn btn-default {{activeClass 'invitedCount'}}" href="{{sortBy 'invitedCount'}}">
                    InvitedCount</a>
                </div>
              </div>
            </div>


            {{#if users}}
            <table class="table table-hover">
              <thead>
              <tr>
                <td colspan="2">Name</td>
                <td>Member since</td>
                <td>Posts</td>
                <td>Comments</td>
                <td>Karma</td>
                <td>Invites</td>
                <td>Invited?</td>
                <td>Admin?</td>
                <td>Actions</td>
              </tr>
              </thead>
              <tbody>
              {{#each users}}
              {{> telescope_user_item}}
              {{/each}}

              </tbody>
            </table>

            <div class="text-center">
              <a class="btn btn-lg btn-default " href="{{loadMoreUrl}}">Load more</a>
            </div>
            {{else}}
            No users Info to show
            {{/if}}

          </div> <!-- End of panel body-->
        </div> <!-- End of panel-->
      </div>
      <div class="col-md-1"></div>
    </div>
  </div>
  </div>
</template>