<template name="telescope_user_profile">

  <div class="container">
    {{#with user}}

    <div class="col-sm-4 col-md-4"></div>
    <div class="row"><div class="col-sm-4 col-md-4">
      <div class="panel panel-default">
        <div class="panel-heading"><h4> Profile Details</h4></div>
        <div class="panel-body">
          <h3> <img class="img-rounded" src="{{avatarUrl}}" alt="...">   {{profile.name}}</h3>
          <p>
          {{#if getTwitterName}}
          <strong>Twitter :</strong>
          <a href="http://twitter.com/{{getTwitterName}}">{{getTwitterName}}</a>
          {{/if}}
          </p>
          <p>
          {{#if getGitHubName}}
          <strong>GitHub:</strong>
          <a href="http://github.com/{{getGitHubName}}">{{getGitHubName}}</a>
          {{/if}}
          </p>
          <p>
          {{#if site}}
          <strong>Site:</strong>
          <a href="{{profile.site}}">{{profile.site}}</a>
          {{/if}}
          </p>
          {{#if profile.bio}}
          <p><strong>Bio :</strong> {{profile.bio}}</p>
          {{/if}}
          <p><b>Member Since:</b> {{createdAtFormatted}}</p>
          <p class="bg-primary">
            {{#if canEditProfile}}
            <a class="btn btn-default pull-left" href="{{editURL}}">Edit profile</a>
            {{/if}}

            {{#if canInvite}}
            <a class="btn btn-default pull-right" href="#">Invite ({{inviteCount}} left)</a>
            {{#if inviteCount}}
            {{else}}
            <a class="btn btn-default pull-right disabled" href="#">Invite (none left)</a>
            {{/if}}
            {{/if}}
          </p>
        </div>
      </div>
    </div>
          <div class="col-sm-4 col-md-4"></div>
        </div>
      </div>
    </div>

    {{/with}}
  </div>

</template>