<template name="telescope_comment_item">
  <div class="comment-main" id="{{_id}}" >
   <div  class="row" style="background-color: #fff">
     <div class="col-md-1">
       <div class="userImg">
         {{#constant}}
         <div class="img-rounded"><img src="{{user_avatar}}" /></div>
         {{/constant}}
       </div>
     </div>
     <div class="col-md-11">
       <div class="comment-meta comment-info text-left " style="padding-top: 12px;padding: 10px">
         <span class="glyphicon glyphicon-comment"> </span>

         <a class="comment-username" href="{{profileUrl}}">{{authorName}}</a>
         <span class="comment-time">{{ago}},</span>
            <span class="points">{{votes}} <span class="unit">points </span> |
            <a href="{{commentLinkUrl}}" class="comment-permalink glyphicon glyphicon-link goto-comment">link</a>
            {{#if can_edit}}
              | <a class="edit-link" href="{{commentEditLinkUrl}}">Edit</a>
            {{/if}}
            {{#if currentUser.isAdmin}}
              | <span>{{full_date}}</span>
            {{/if}}
       </div>
     </div>

   </div>

    <div  class="row" style="background-color: #fff">
      <div class="col-md-1">
        <div class="votes votes-lg {{#if upvoted}}upvoted{{else}}not-upvoted{{/if}} {{#if downvoted}}downvoted{{else}}not-downvoted{{/if}} text-center">
          {{#if upvoted}}
          <a class="upvote" href="#">
            <i class="glyphicon glyphicon-arrow-up "></i>
          </a>
          {{else}}
          {{#if downvoted}}
          <a class="downvote" href="#">
            <i class="glyphicon glyphicon-arrow-down"></i>
          </a>
          {{else}}
          <a class="upvote" href="#">
            <i class="glyphicon glyphicon-arrow-up "></i>
          </a>
          <a class="downvote" href="#">
            <i class="glyphicon glyphicon-arrow-down"></i>
          </a>
          {{/if}}
          {{/if}}
        </div>

      </div>
      <div class="col-md-11">
        <div class=" markdown cmt-body">{{{body_formatted}}}</div>
      </div>

    </div>

  </div>
</template>
