<template name="comment_form">
  <div class="comment-new">
    <form>
      {{#constant}}
      <div class="comment-field" >
        <textarea class="form-control editor"   id="comment" rows="3" autofocus="autofocus"></textarea>
      </div>
      {{/constant}}
      <div class="row">
        <div class="col-md-2">
          <input type="submit" class="form-control" value="{{i18n "Add Comment"}}" title="(⌘+enter)" />
        </div>
        <div class="col-md-10"></div>
      </div>
    </form>
  </div>
</template>
