<template name="telescope_comment_form">
  <div class="comment-new">
    <form>
      {{#isolate}}
      <div class="comment-field" >
        <textarea class="form-control editor"   id="comment" rows="3" autofocus="autofocus"></textarea>
      </div>

      <div class="row">
        <div class="col-md-2">
          <input type="submit" class="form-control" value="Add Comment" title="(⌘+enter)" />
        </div>
        <div class="col-md-10"></div>
      </div>
      {{/isolate}}
    </form>
  </div>
</template>
