<template name="telescope_category_item">
  <div>

    <form class="form-horizontal">

        <div class="form-group">
          <span class="col-sm-2"></span>
        <span class="col-sm-8">
        <div class="input-group">
          <input id="name_{{_id}}" type="text" class="form-control" value="{{name}}"/>
          <span class="input-group-addon"><a class="button edit-link" href="#">Save</a></span>
        </div>
        <span class="category-slug small">Slug: /{{slug}}</span>
        </span>
          <span class="col-sm-2"></span>
        </div>
    </form>
  </div>
</template>
